<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Dashboards</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	    crossorigin="anonymous">
	<link rel="stylesheet" href="css/styledash.css">
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body class="grey">




	<div class="container-fluid grey">
		<div class=" text-center">
			<h1>Dashboards</h1>
		</div>
		<div class=" text-center">
			<h2>Ocorrencias passadas</h2>
		</div>

		<div id="myCarousel" class="carousel slide grey" data-ride="carousel">
			<span>&nbsp;</span>

			<div class="carousel-inner">

				<div class="item active">
					<div class="row col-xs-8 col-xs-offset-2">
						<table class="table white">
							<tr class="info">
								<th>Nome ocorrencia</th>
							</tr>
							<tr>
								<td>data</td>
							</tr>
							<tr>
								<td>descrição problema</td>
							</tr>
							<tr>
								<td>solucao</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="item">


					<div class="row col-xs-8 col-xs-offset-2">
						<table class="table white">
							<tr class="info">
								<th>Nome ocorrencia</th>
							</tr>
							<tr>
								<td>data</td>

							</tr>
							<tr>
								<td>descrição problema</td>

							</tr>
							<tr>
								<td>solucao</td>

							</tr>
						</table>
					</div>

				</div>

				<div class="item">


					<div class="row col-xs-8 col-xs-offset-2">
						<table class="table white">
							<tr class="info">
								<th>Nome ocorrencia</th>
							</tr>
							<tr>
								<td>data</td>
							</tr>
							<tr>
								<td>descrição problema</td>
							</tr>
							<tr>
								<td>solucao</td>
							</tr>
						</table>
					</div>

				</div>
			</div>

			<a class="left top carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
			<br>
			<br>
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
		</div>


		<div class="row col-xs-12 col-xs-offset-0 grey">
		</div>
		<div class="row col-xs-12 col-xs-offset-0 grey">
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="js/chartTheme.js"></script>

			<div id="maquina" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

			<p>Horario</p>
			<p>Fim de espediente</p>
			<div class="row col-xs-6">
				<table class="table white">
					<tr class="info">
						<th>Reparos agendados</th>
					</tr>
					<tr>
						<td>data</td>
					</tr>
				</table>
			</div>

			<script type="text/javascript" src="js/chart.js"></script>
		</div>



	</div>

</body>

</html>