<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="icon" type="image/jpg" href="./img/tico.png" sizes="16x16">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styleFabrica.css">

</head>

<body>
	<div class="container">

		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">VOSSC</a>
				<a class="navbar-brand" href="index.html">Traduzir</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Login</a></li>
							<li><a href="#">Cadastro</a></li>
							<li><a href="#">Ajuda</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
		<h1 id="titulo" class="text-center">Sis<img src="img/t.png" alt="t">ema Mapa de Erros</h1>
		<br>

		<div class="container">

			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 fornecedor">
					fornecedor 1
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 fornecedor">
					fornecedor 2
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 fornecedor">
					fornecedor 3
				</div>
			</div>
			<br>
			<div class="row">

				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 producao">
					producao
				</div>

				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 armazem">
					armazem
				</div>

				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 venda">
					venda
				</div>

			</div>
			<br>
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 patio">
					patio
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 vendaSite">
					vendaSite
				</div>
			</div>

		</div>


		<!-- Footer -->
		<footer class="container-fluid bg-4 text-center">
			<p id="p0">Grupo DOORS</p>
			<p>Leonardo Ruiz Orabona - RM77707 | Poliana Nascimento Ferreira - RM77800</p>
			<p>Thiago Yuzo - RM78035 | Wilker Ramalho - RM79489 | Raira Carvalho - RM78375</p>

			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<img src="img/fiap.jpg" class="img-responsive" alt="fiap">
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<img src="img/tsystems.png" class="img-responsive" alt="tsystems">
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

			</div>

		</footer>

</body>

</html>