<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="icon" type="image/jpg" href="./img/tico.png" sizes="16x16">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">	

</head>

<body>
	<div class="container">

		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">VOSSC</a>
				<a class="navbar-brand" id="traduzir" href="#"><i class="fa fa-language" aria-hidden="true"></i></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="subMenu">
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#" id="login">Login</a>
								</li>
								<li>
									<a href="#">Cadastro</a>
								</li>
								<li>
									<a href="#">Ajuda</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div id="subMenu2">
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Login</a>
						</li>
						<li>
							<a href="#">Cadastro</a>
						</li>
						<li>
							<a href="#">Ajuda</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div class="alert alert-info loginAzul">
			<button type="button" class="close" id="fecharLogin" aria-hidden="true">&times;</button>
			<form class="form" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav">
				<div class="form-group">

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 espaco">
							<label class="sr-only" for="exampleInputEmail2" id="emailEntrar">Endereço de Email</label>
							<input type="email" class="form-control" id="emailEntrarPlace" placeholder="Seu Email" required>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 espaco">
							<label class="sr-only" for="exampleInputPassword2" id="senhaEntrar">Senha</label>
							<input type="password" class="form-control" id="senhaEntrarPlace" placeholder="Sua Senha" required>

						</div>
						<div class="col-xs-7 col-sm-7 col-md-3 col-lg-3 espaco">
							<a href="#">
								<button type="submit" class="btn btn-primary btn-block" id="btnEntrar">Entrar</button>
							</a>
							<div class="help-block text-right">
								<a href="#" id="esqueceu">Esqueceu sua senha ?</a>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>

		<h1 id="titulo" class="text-center">Sis
			<img src="img/t.png" alt="t">ema Mapa de Erros</h1>
		<br>
	</div>
	<div class="container fonte">

		<div class="row">
			<a data-toggle="modal" href='#modal-forn1'>
				<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 fornecedor fabrica">
					fornecedor 1
				</div>
			</a>
			<a data-toggle="modal" href='#modal-forn2'>
				<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 fornecedor fabrica">
					fornecedor 2
				</div>
			</a>
			<a data-toggle="modal" href='#modal-forn3'>
				<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 fornecedor fabrica">
					fornecedor 3
				</div>
			</a>
		</div>
		<br>
		<div class="row">

			<a data-toggle="modal" href='#modal-producao'>
				<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 producao fabrica">
					producao
				</div>
			</a>

			<a data-toggle="modal" href='#modal-armazem'>
				<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 armazem fabrica">
					armazem
				</div>
			</a>

			<a data-toggle="modal" href='#modal-venda'>
				<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 venda fabrica">
					vendas
				</div>
			</a>

		</div>
		<br>
		<div class="row">
			<a data-toggle="modal" href='#modal-patio'>
				<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 patio fabrica">
					patio
				</div>
			</a>
			<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">

			</div>
			<a data-toggle="modal" href='#modal-vendaSite'>
				<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 vendaSite fabrica">
					vendas Site
				</div>
			</a>
		</div>

		<div class="modal fade" id="modal-forn1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tituloModal-forn1" class="modal-title">Fornecedor</h4>
					</div>
					<div class="modal-body" id="modalContForn1">
						<div id="forn1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>							
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default voltar flutuaDireita" data-dismiss="modal">Voltar</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modal-forn2">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tituloModal-forn2" class="modal-title">Fornecedor</h4>
					</div>
					<div class="modal-body" id="modalContForn2">
						<div id="forn2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>							
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default voltar flutuaDireita" data-dismiss="modal">Voltar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-forn3">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tituloModal-forn3" class="modal-title">Fornecedor</h4>
					</div>
					<div class="modal-body" id="modalContForn3">
						<div id="forn3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>							
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default voltar flutuaDireita" data-dismiss="modal">Voltar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-producao">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tituloModal-producao" class="modal-title">Produção</h4>
					</div>
					<div class="modal-body" id="modalContProducao">
						<div id="prod" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>							
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default voltar flutuaDireita" data-dismiss="modal">Voltar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-armazem">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tituloModal-armazem" class="modal-title">Armazem</h4>
					</div>
					<div class="modal-body" id="modalContArmazem">
						<div id="armazem" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>							
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default voltar flutuaDireita" data-dismiss="modal">Voltar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-venda">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tituloModal-venda" class="modal-title">Vendas</h4>
					</div>
					<div class="modal-body" id="modalContVenda">
						<div id="vendas" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>							
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default voltar flutuaDireita" data-dismiss="modal">Voltar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-patio">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tituloModal-patio" class="modal-title">Patio</h4>
					</div>
					<div class="modal-body" id="modalContPatio">
						<div id="patio" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>							
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default voltar flutuaDireita" data-dismiss="modal">Voltar</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-vendaSite">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tituloModal-vendaSite" class="modal-title">Site de Vendas</h4>
					</div>
					<div class="modal-body" id="modalContVendaSite">
						<div id="vendasSite" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>							
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default voltar flutuaDireita" data-dismiss="modal">Voltar</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<br>

	<!-- Footer -->
	<footer class="container-fluid bg-4 text-center">
		<p id="p0">Grupo DOORS</p>
		<p>Leonardo Ruiz Orabona - RM77707 | Poliana Nascimento Ferreira - RM77800</p>
		<p>Thiago Yuzo - RM78035 | Wilker Ramalho - RM79489 | Raira Carvalho - RM78375</p>

		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<img src="img/fiap.jpg" class="img-responsive" alt="fiap">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<img src="img/tsystems.png" class="img-responsive" alt="tsystems">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

		</div>

	</footer>

<!-- CHARTS -->
<!-- <script src="js/highcharts.js"></script> -->
<script src="js/highstock.js"></script>
<script src="js/exporting.js"></script>
<script type="text/javascript" src="js/charts.js"></script>

</body>

</html>