@import url('https://fonts.googleapis.com/css?family=Handlee|Libre+Barcode+39+Text');
body {
	background-color: #323b3e;
}
#titulo {
	font-family: 'Libre Barcode 39 Text', cursive;
	color: white;
	font-size: 50px;
}

.container-fluid {
	padding-top: 30px;
	padding-bottom: 30px;
}
.img-responsive {
	margin: 0 auto;
}
.fonte{
	font-size: 1.5em;
}
.fonte a{
	color: black;
}
.espaco{
	margin-bottom: 6px;
}
.loginAzul{
	padding: 5px;
	max-height: 80px;
	display: none;
}
.bg-4 {
	background-color: #2f2f2f;
	/* Black Gray */
	color: #fff;
	font-family: 'Handlee', cursive;
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	#titulo {
		font-family: 'Libre Barcode 39 Text', cursive;
		font-size: 30px;
	}
	.fabrica{
		background-color: white;
		height: 200px;
		margin-left: 8.5%;
		margin-bottom: 4%;
	}
	.fornecedor{
		border: 5px solid lightsalmon;
	}
	.producao{
		border:	5px solid red;
	}
	.armazem{
		border:	5px solid orange;
	}
	.venda{
		border:	5px solid green;
	}
	.patio{
		border: 5px solid lightblue;
	}
	.vendaSite{
		border: 5px solid green;
	}
	#subMenu{
		display: none;
	}
	#subMenu2{
		display: block;
	}
}
@media screen and (min-width: 769px) {
	#titulo {
		font-family: 'Libre Barcode 39 Text', cursive;
		font-size: 50px;
	}
	.fabrica{
		height: 200px;
		margin-left: 6%;
		cursor: pointer;
	}
	.fornecedor{
		background-color:	lightsalmon;
	}
	.producao{
		background-color: red;
	}
	.armazem{
		background-color: orange;
	}
	.venda{
		background-color: green;
	}
	.patio{
		background-color: lightblue;
		margin-left: 12%;
	}
	.vendaSite{
		background-color: green;
		margin-left: 6%;
	}
	#subMenu{
		display: block;
	}
	#subMenu2{
		display: none;
	}
}