@import url('https://fonts.googleapis.com/css?family=Handlee|Libre+Barcode+39+Text');
#titulo {
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 50px;
}

#saibaMais {
	background-image: url('../img/produtoAzul.png');
}

.container-fluid {
	padding-top: 30px;
	padding-bottom: 30px;
}

.img-responsive {
	margin: 0 auto;
}

.bg-4 {
	background-color: #2f2f2f;
	/* Black Gray */
	color: #fff;
	font-family: 'Handlee', cursive;
	font-size: 16px;
}

.saiba span{
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	/* display: none; */
}

@media screen and (max-width: 768px) {
	#titulo {
		font-family: 'Libre Barcode 39 Text', cursive;
		font-size: 30px;
	}
	#carroselBanner {
		display: none;
	}
	#vitrineGrande {
		display: none;
	}
	#vitrineCarrossel {
		display: block;
	}
}

@media screen and (min-width: 769px) {
	#titulo {
		font-family: 'Libre Barcode 39 Text', cursive;
		font-size: 50px;
	}
	#carroselBanner {
		display: block;
	}
	#vitrineGrande {
		display: block;
	}
	#vitrineCarrossel {
		display: none;
	}
}